.jumbotron {
    padding-top: 10px;
    background-image: url(assets/gambar/g4.png);
    background-size: cover;
    background-position: 0 -250px;
    padding-bottom: 10px;
    color: #fff;
    background-attachment: fixed;
}

.footer {
    height: 150px;
    background-color: blue;
}

.signup a{
    text-decoration: none;
}